.Lobby-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    user-select: none;
}

.lobby-title {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    position: relative;
    top: -10%;
}

.lobby-title h4,
.lobby-btn-navigation a {
    margin-top: 1rem;
    font-weight: 500;
}

.lobby-btn-navigation {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.lobby-btn-navigation button {
    position: relative;
    top: -4%;
}

.lobby-btn-navigation a {
    cursor: pointer;
}

.ornate-words {
    color: var(--accent-word-color);
}

@media screen and (max-width: 420px) {

}