@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.Register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
}

.formRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}


.descriptionRegister {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
}

.description {
    font-family: 'Inter', sans-serif;
    font-size: 19px;
    font-weight: 540;
    letter-spacing: -0.01em;
}

.description:last-of-type {
    font-size: 16px;
    font-weight: 300;
    margin-top: 2rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 55%;
    margin-bottom: 2rem;
}

.inputFile {
    height: 265px;
    background-color: #454545;
}


.inputTransparent {
    font-family: 'Inter', sans-serif;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #454545;
    outline: 0;
    font-size: 18px;
    text-align: center;
    color: #333;
    padding: 3px 0;
    background: transparent;
}