button {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.default-btn {
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    border: none;
}

.primary-btn {
    color: var(--primary-font-color);
    background-color: var(--primary-button-color);
}

.primary-btn:hover {
    background: var(--primary-button-color-hover);
}

.secondary-btn {
    background: var(--secondary-button-color);
    color: var(--primary-font-color);
}

.secondary-btn:hover {
    background: var(--secondary-button-color-hover);
}

.dark-btn {
    background: var(--dark-button-color);
    color: var(--primary-font-color);
}

.dark-btn:hover {
    background: var(--dark-button-color-hover);
}
