.loadingFullscreenWall{
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.centerLogoPlace {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}