@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    color: #333;
    background-color: #c0bfbf;
    font-family: 'Inter', sans-serif;
}

body {
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
}